<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>Antti's Backbone.js learning experience</title>
	<link href="<%= stylesheetFile %>" rel="<%= stylesheetLanguage %>" type="text/css"/>
	<script data-main="<%= scriptFile %>" src="<%= scriptLoader %>"></script>
	<% for (var i = 0; i < scripts.length; i++) { %>
	<script src="<%= scripts[i] %>"></script>
	<% } %>
</head>
<body>
	<div class='container'>

		<ul class='breadcrumb'>
			<li><a href='#/'>[root]</a></li>
		</ul>

		<div class='row'>
			<div class='col-md-4'>
				<div id='root'>
				</div>
				<div id='test'>
				</div>
			</div>

			<div class='col-md-8'>
				<div id='content'>
					<div>
						<p class='filename'></p>
						<textarea></textarea>
					</div>
					<div class='buttons'>
						<button class='save btn'>Save</button>
						<button class='refresh btn'>Refresh</button>
						<span class='status'></span>
					</div>
				</div>

			</div>

		</div>

	</div>
</body>
</html>

