/* TODO Add some styles into boilerplate */

// Won't work in release -- figure out a better way
@import '../components/bootstrap/dist/css/bootstrap.css';
@import '../components/bootstrap/dist/css/bootstrap-theme.css';

body {
	color: #222;
}

textarea {
	width: 100%;
	height: 140px;
	font: 14px/18px Courier;
}

body {
	padding-top: 60px;
}

.container, .content {
/* 	border: 1px solid #eee; */
}

.buttons {
	margin-top: 10px;
}

.btn {
	margin-left: 6px;
}

.btn:first-of-type {
	margin-left: 0;
}

.buttons .status {
	color: #888;
	margin-left: 4px;
}

#content {
/* 	padding: 40px 0; */
/* 	color: blue; */
}

/*  Directory  */

.directory {
	list-style-type: none;
}

